<h2>Subscribe to Our Updates</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <fieldset class="mb-3">
    <input
      matInput
      mdDisableInput
      id="email"
      type="email"
      formControlName="email"
      placeholder="Enter email for subscription"
      class="form-control form-control-lg"
      (focusout)="this.validate.set(true)"
      [isDisabled]="isSubscribed()"
    />
    <md-frontend-error-messages [submitted]="validate()"
                                [control]="form.get('email')">
    </md-frontend-error-messages>
  </fieldset>
  <button type="submit" class="button-secondary" [disabled]="form.invalid || !form.get('email')?.value">
    {{ isSubscribed() ? 'Unsubscribe' : 'Subscribe' }}
  </button>
</form>
