<h2>Subscribe to Our Updates</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <md-input
    matInput
    mdDisableInput
    id="email"
    type="email"
    placeholder="Enter your email"
    name="email"
    [control]="form.get('email')"
    (focusout)="this.validate.set(true)"
    [isDisabled]="isSubscribed()"
    [submitted]="validate()"
  />
  <button type="submit" [disabled]="form.invalid || !form.get('email')?.value">
    {{ isSubscribed() ? 'Unsubscribe' : 'Subscribe' }}
  </button>
</form>
